@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-color: #cae5ff;
  font-family: "Quicksand", sans-serif;
  color: #615d6c;
}

.card {
  width: 30rem;
  
  color: #353535;
  padding: 1.5rem;
  border-radius: 0.4rem;
}

.card__image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.4rem;
}

.card__information-title {
  font-size: 3rem;
}

.card__information-description {
  font-size: 1.4rem;
}

@media screen and (min-width: 34.375em) {
  .card {
    width: 60rem;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }

  .card__image {
    flex: 0 0 20rem;
  }

  .card__information-description {
    font-size: 1rem;
  }
}

.section1Name {
  margin-top: 40vh;
  height: 25vh;
  text-align: center;
  font-size: 10vh;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
}



.divder h2 {
  color: #615d6c;
  font-size: 3.5rem;

  padding-top: 5rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.divder h2 span {
  color: #615d6c;
  font-size: 3.5rem;
  background: #cae5ff;
  padding-bottom: 10px;
}


.section-header {
 
  padding-top: 30px;

  font-size: 2.5rem;
  text-align: center;
}
.education-info {
  margin-left:30px;
  margin-right:30px;
  padding-top: 30px;

  font-size: 1.5rem;
  text-align: left;
}

.education-info p {
 
  padding-bottom: 5px;

  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}
.work-exp {
  list-style: none;
  padding-top: 15px;
  margin-left:30px;
  margin-right:30px;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-align: left;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 50px;
  column-gap: 25px;
}
.skills {

  font-size: 1.5rem;
  margin-left:30px;
  margin-right:30px;
  text-align: left;
  list-style: none;
}


.icon {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #000;
  border-radius: 50%;
  outline: 2px solid #000;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 4px;
}

.icon:hover i {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}
